<ion-view view-title="Questionare">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="content in questionparts">{{content.que_id}}]{{content.questions}}
                <br>
                <input type="radio" value="{{content.option_a}}" ng-model="answers[content.que_id]">{{content.option_a}}
                <br>
                <input type="radio" value="{{content.option_b}}" ng-model="answers[content.que_id]">{{content.option_b}}
                <br>
                <input type="radio" value="{{content.option_c}}" ng-model="answers[content.que_id]">{{content.option_c}}
                <br>
                <input type="radio" value="{{content.option_d}}" ng-model="answers[content.que_id]">{{content.option_d}}
                <br>
                
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" ng-click="changequestionset('next')" ng-if="nextbutton">Next</button> 
        <button class="button button-block button-positive" ng-click="changequestionset('previous')" ng-if="previousbutton">Previous</button>
         <button class="button button-block button-positive" ng-click="finishquiz()" ng-if="submitbutton">Submit</button>
    </ion-content>
</ion-view>