<ion-view view-title="Questionare">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="content in questionparts">{{content.que_id}}]{{content.questions}}
                <br>
                <input type="radio" value="{{content.option_a}}" ng-model="answers[content.que_id]">{{content.option_a}}
                <br>
                <input type="radio" value="{{content.option_b}}" ng-model="answers[content.que_id]">{{content.option_b}}
                <br>
                <input type="radio" value="{{content.option_c}}" ng-model="answers[content.que_id]">{{content.option_c}}
                <br>
                <input type="radio" value="{{content.option_d}}" ng-model="answers[content.que_id]">{{content.option_d}}
                <br>
                
            </ion-item>
        </ion-list>
        <lable class="item">
        <button class="button icon-right ion-chevron-right button-clear button-positive" ng-click="changequestionset('next')" ng-if="nextbutton" style="float:right"> Next</button> 
        <button class="button icon-left ion-chevron-left button-clear button-positive" ng-click="changequestionset('previous')" ng-if="previousbutton">Previous</button>
     <center><button class="button button-large button-positive" ng-click="finishquiz()" ng-if="submitbutton">Submit</button></center>
        </lable>
    </ion-content>
</ion-view>